@model wddn_online_shopping.Models.model_class.customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_confirm_password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_confirm_password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_mobile_no)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_mobile_no)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.customer_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
