@model IEnumerable<wddn_online_shopping.Models.model_class.order>

@Html.Partial("_partial_view", "customer");

@{
    ViewData["Title"] = "Index";
}

<h1>My order</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.delivery_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_pricer)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:green">
                    @Html.DisplayFor(modelItem => item.order_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.delivery_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_pricer)
                </td>
                <td>
                    <a asp-action="order_full_detail" asp-controller="customers" asp-route-id="@item.order_id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
