@model wddn_online_shopping.Models.model_class.item_detail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Item Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product_quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product_quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product_description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product_description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product_image)
        </dt>
        <dd class="col-sm-10">
            @{var product_image_path = "/product_image/" + Model.product_image;
            }
            <img class="card-img-top" style="height:100px;width:100Px" src="@product_image_path" alt="Card image cap">

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.product_id" class="btn btn-success">Edit</a> |
    <a asp-controller="sellers" asp-action="Homepage" class="btn btn-success" >Back to List</a>
</div>
